################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/MatchLogGAA.pdb
/obj/Debug/MatchLogGAA.exe
/obj/Debug/MatchLogGAA.pdb
